<section class="biography-section">
  <div class="biography-container">
    <div class="left-container">
      <div class="slide-container">
        <div id="General" class="biography-frame">
          <div class="title">
            <h1>Summary</h1>
          </div>
          <div class="line">
            <div class="another-line"></div>
          </div>
          <div class="text">
            <p>
              Hi, I'm Pavlo Zinko and I'm 20 years old. I'm currently a third
              year student at the department of Artificial Intelligence of the
              Lviv Polytechnic National University.<br><br> Always open for new
              opportunities, looking forward to gain new experience as a Trainee
              front-end developer.
            </p>
          </div>
        </div>

        <div id="Hard" class="biography-frame">
          <div class="title">
            <h1>Hard skills</h1>
          </div>
          <div class="line">
            <div class="another-line"></div>
          </div>
          <div class="text">
            <div class="generalSkills">
              <h1>Technologies</h1>
              <ul>
                <li>HTML5 </li>
                <li>CSS3/SASS</li>
                <li>Bootstrap</li>
                <li>JavaScript/ES6</li>
                <li>Angular</li>
                <br>
                <h1>Teoretical knowledge</h1>
                <li>Algorithms and OOP</li>
                <li>Git, SCRUM</li>
                <li>Patterns</li>
              </ul>
            </div>
          </div>
        </div>

        <div id="Soft" class="biography-frame swap">
          <div class="title">
            <h1>Soft skills</h1>
          </div>
          <div class="line">
            <div class="another-line"></div>
          </div>
          <div class="text">
            <p>
              I am easy-going and self motivated person. I love working in team
              and solving problems. Although, I have a serious attitude to my
              responsibilities. Always trying to do my best and contribute all
              the efforts i can, to apply all my knowledge to get the better
              result <br /><br />
            </p>
            <div class="generalSkills">
              <h1>Languages</h1>
              <ul>
                <li>Ukrainian (native)</li>
                <li>Russian (fluent)</li>
                <li>English (intermidiate)</li>
              </ul>
            </div>
          </div>
        </div>

        <div id="Other" class="biography-frame">
          <div class="title">
            <h1>Courses</h1>
          </div>
          <div class="line">
            <div class="another-line"></div>
          </div>
          <div class="text">
            <div class="generalSkills">
              <h1>Front-End: Bootstrap 4</h1>
              <a href="https://www.coursera.org/account/accomplishments/verify/Q5PZRVN2QDZ2"><p>Click to see certificate</p></a>
              <br>
              <h1>Design Patterns</h1>
              <a href="https://www.coursera.org/account/accomplishments/verify/RJFDNCDKZ5CY"><p>Click to see certificate</p></a>
              <br>
              <h1>SQL for Data Science</h1>
              <a href="https://www.coursera.org/account/accomplishments/verify/G4ES9SG8XCE3"><p>Click to see certificate</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="info-container">
      <div class="info-circle" (click)="showGeneralInfo()">
        <a class="info-name">G</a>
      </div>
      <div class="info-circle" (click)="showHardInfo()">
        <a class="info-name">H</a>
      </div>
      <div class="info-circle" (click)="showSoftInfo()">
        <a class="info-name">S</a>
      </div>
      <div class="info-circle" (click)="showOtherInfo()">
        <a class="info-name">C</a>
      </div>
    </div>
  </div>
</section>
