<section class="biography-section">
  <div class="biography-container">
    <div class="left-container">
      <div class="slide-container">
        <div id="General" class="biography-frame">
          <div class="title">
            <h1>General</h1>
          </div>
          <div class="line">
            <div class="another-line"></div>
          </div>
          <div class="text">
            <p>
              Hi, I'm Pavlo Zinko and I'm 20 years old. I'm currently a third
              year student at the department of Artificial Intelligence of the
              Lviv Polytechnic National University. I' ve been working in
              Front-End developing since the end of 2019. I started with small
              university projects that were based on html5, css and javascript.
              At that time I realised that's the branch that I want to dive
              into.
            </p>
          </div>
        </div>

        <div id="Hard" class="biography-frame">
          <div class="title">
            <h1>Hard skills</h1>
          </div>
          <div class="line">
            <div class="another-line"></div>
          </div>
          <div class="text">
            <div class="generalSkills">
              <h1>General skills</h1>
              <ul>
                <li>HTML5</li>
                <li>CSS3/SASS</li>
                <li>Bootstrap</li>
                <li>JavaScript/ES6</li>
                <li>OOP</li>
                <li>Algorithms and O(n) notation</li>
                <li>Angular</li>
              </ul>
            </div>
            <div class="languages">
              <h1>Languages</h1>
              <ul>
                <li>Ukrainian (native)</li>
                <li>Russian (fluent)</li>
                <li>English (intermidiate)</li>
              </ul>
            </div>
          </div>
        </div>

        <div id="Soft" class="biography-frame">
          <div class="title">
            <h1>Soft skills</h1>
          </div>
          <div class="line">
            <div class="another-line"></div>
          </div>
          <div class="text">
            <p>
              I am easy-going and self motivated person. I love working in team
              and solving problems. Although, I have a serious attitude to my
              responsibilities. Always trying to do my best and contribute all
              the efforts i can, to apply all my knowledge to get the better
              result <br /><br />My main feature of character is - self
              management. The task that has been done to deadline - good task.<br /><br /> I
              respect honesty in people. I hate when somebody tries to somehow
              deceive me or slander on me.
            </p>
          </div>
        </div>

        <div id="Other" class="biography-frame">
          <div class="title">
            <h1>Other information</h1>
          </div>
          <div class="line">
            <div class="another-line"></div>
          </div>
          <div class="text">
            <p>
              I'm looking for a job as a Trainee Front-End developer or internship.<br />
              I've never had an official job, so I don't have much experience in
              developing a real project with real team lead and bunch of
              developers.<br />
              I'm currently actively learning JavaScript and it's too hard to
              make something only by having the theoretical knowledge. Of course
              I'm trying to gain practical skills by myself, but obviously it's
              too hard without a real projects and help from big brother.
              <br /><br />I'm looking forward to gain new experience in real
              projects, have challenging tasks and work in team.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="info-container">
      <div class="info-circle" (click)="showGeneralInfo()">
        <a class="info-name">G</a>
      </div>
      <div class="info-circle" (click)="showHardInfo()">
        <a class="info-name">H</a>
      </div>
      <div class="info-circle" (click)="showSoftInfo()">
        <a class="info-name">S</a>
      </div>
      <div class="info-circle" (click)="showOtherInfo()">
        <a class="info-name">O</a>
      </div>
    </div>
  </div>
</section>
