<div class="hero">
  <app-header></app-header>
  <div class="main-hero-content">
    <div class="main-text">
      <h1>
        Pavlo Zinko<br />
        <span>My CV for job offers</span>
      </h1>
    </div>
    <div class="main-logo">
      <div class="logo">
        <div class="logo-center"></div>
      </div>
    </div>
  </div>
  <div class="hero-bottom-gradient">
    <div class="info-line">
      <div class="info-line-title">
        <h1>
          All the info is <strong [ngStyle]="{
            color: '#06b38f'
          }">here</strong>
          <br />
          <li>Biography</li>
          <li>Projects</li>
          <li>My contacts</li>
        </h1>
      </div>
      <div class="info-line-separator">
        <div></div>
      </div>
      <div class="info-line-text">
        <p>
          Its my own website that was designed and made by me for a specific purpose - I wanted
          to collect all the           <span
          [ngStyle]="{
            color: '#06b38f'
          }"
          >projects</span
        > and the information about me in one place. You
          can use the navigation bar to scroll down to the topic you are most
          intrested in. Use the buttons <span         [ngStyle]="{
            color: '#06b38f'
          }">('G','H,'S','O')</span> on <span         [ngStyle]="{
            color: '#06b38f'
          }">"BIO" </span>section to get more info
        </p>
      </div>
    </div>
  </div>
</div>
