<section class="project-section">
  <div class="project-container">
    <div class="project-box">
      <div class="project-box-container">
        <div class="title">
          <h1>Wedding dress store</h1>
        </div>
        <div class="line">
          <div class="another-line"></div>
        </div>
        <div class="middle-text">
          <p>
            This wedding store was my freelance order . Main goal was to create
            adaptive design using
            <span [ngStyle]="{ color: '#06b38f' }"> Angular</span>.<br />
            The technologies i used:
            <span [ngStyle]="{ color: '#06b38f' }"> Angular</span>
            <span [ngStyle]="{ color: '#06b38f' }">, Bootstrap</span>
            <span [ngStyle]="{ color: '#06b38f' }">, CSS</span>
            <span [ngStyle]="{ color: '#06b38f' }">, HTML5</span>. <br /><br />
            You can visit this webcite by pressing the button
            <span
            ><a
              [ngStyle]="{
                color: '#06b38f',
                cursor: 'pointer',
                textDecoration: 'none'
              }"
              href="http://roxolanastudio.com/"
              >'MORE'</a
            ></span
          >
          </p>
        </div>
        <div class="project-photos">
          <div class="photo-frame"></div>
          <div class="photo-frame"></div>
          <div class="photo-frame"></div>
          <div class="photo-frame"></div>
        </div>
        <div class="bottom-see-more">
          <div class="text-container">
            <p>
              You want to see
              <span
                ><a
                  [ngStyle]="{
                    color: '#06b38f',
                    cursor: 'pointer',
                    textDecoration: 'none'
                  }"
                  href="http://roxolanastudio.com/"
                  >more</a
                ></span
              >?<br />Click on a button to your right
            </p>
          </div>
          <div class="button-container">
            <a (click)="goToWeddingDress()"><p>MORE</p></a>
          </div>
        </div>
      </div>
    </div>

    <div class="project-box">
      <div class="project-box-container">
        <div class="title">
          <h1>Freelance exchange</h1>
        </div>
        <div class="line">
          <div class="another-line"></div>
        </div>
        <div class="middle-text">
          <p>
            It was a university project. We had a team of 5 students and the
            task was to create a fully functioning website. I was obliged to do
            a front-end part. Main responsibilities: design, adaptiveness,
            develop. The technologies i used:
            <span [ngStyle]="{ color: '#06b38f' }"> React</span>
            <span [ngStyle]="{ color: '#06b38f' }">, Bootstrap</span>
            <span [ngStyle]="{ color: '#06b38f' }">, CSS</span>
            <span [ngStyle]="{ color: '#06b38f' }">, HTML5</span>. <br /><br />
            You can inspect the code by pressing the button
            <span
              ><a
                [ngStyle]="{
                  color: '#06b38f',
                  cursor: 'pointer',
                  textDecoration: 'none'
                }"
                href="https://github.com/Edw1x/Wanderlance-Front-end"
                >'GITHUB'</a
              ></span>
          </p>
        </div>
        <div class="project-photos">
          <div class="photo-frame-second"></div>
          <div class="photo-frame-second"></div>
          <div class="photo-frame-second"></div>
          <div class="photo-frame-second"></div>
        </div>
        <div class="bottom-see-more">
          <div class="text-container">
            <p>
              You want to see
              <span
              ><a
                [ngStyle]="{
                  color: '#06b38f',
                  cursor: 'pointer',
                  textDecoration: 'none'
                }"
                href="https://github.com/Edw1x/Wanderlance-Front-end"
                >more</a
              ></span>?<br />Click on
              a button to your right
            </p>
          </div>
          <div class="button-container">
            <a (click)="goToWanderlance()"><p>GITHUB</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
