<section class="project-section">
  <div class="project-container">
    <div class="project-box">
      <div class="project-box-container">
        <div class="title">
          <h1>Wedding dress store</h1>
        </div>
        <div class="line">
          <div class="another-line"></div>
        </div>
        <div class="middle-text">
          <p>
            This wedding store was made for my friend's business. Webcite has
            only Front-end part, so you can't order/register.  The technologies i used:
            <span [ngStyle]="{ color: '#06b38f' }"> Angular</span>
            <span [ngStyle]="{ color: '#06b38f' }">, Bootstrap</span>
            <span [ngStyle]="{ color: '#06b38f' }">, CSS</span>
            <span [ngStyle]="{ color: '#06b38f' }">, HTML5</span>. You can visit this webcite by
            pressing the button
            <span [ngStyle]="{ color: '#06b38f' }"> 'MORE' </span>
          </p>
        </div>
        <div class="project-photos">
          <div class="photo-frame"></div>
          <div class="photo-frame"></div>
          <div class="photo-frame"></div>
          <div class="photo-frame"></div>
        </div>
        <div class="bottom-see-more">
          <div class="text-container">
            <p>
              You want to see
              <span [ngStyle]="{ color: '#06b38f' }">more</span>?<br />Click on
              a button to your right
            </p>
          </div>
          <div class="button-container">
            <a (click)="goToWeddingDress()"><p>MORE</p></a>
          </div>
        </div>
      </div>
    </div>

    <div class="project-box">
      <div class="project-box-container">
        <div class="title">
          <h1>Freelance exchange</h1>
        </div>
        <div class="line">
          <div class="another-line"></div>
        </div>
        <div class="middle-text">
          <p>
            It was a university project. We had a team of 5 guys and the task
            was to create a website with back-end. Me and my friend were obliged
            to do a front-end part. In result our team did a great job and ended
            with the fully working website. <br />The technologies we used:
            <span [ngStyle]="{ color: '#06b38f' }"> React</span>
            <span [ngStyle]="{ color: '#06b38f' }">, Bootstrap</span>
            <span [ngStyle]="{ color: '#06b38f' }">, CSS</span>
            <span [ngStyle]="{ color: '#06b38f' }">, HTML5</span>. You can
            inspect the code by pressing the button
            <span [ngStyle]="{ color: '#06b38f' }"> 'GITHUB' </span>
          </p>
        </div>
        <div class="project-photos">
          <div class="photo-frame-second"></div>
          <div class="photo-frame-second"></div>
          <div class="photo-frame-second"></div>
          <div class="photo-frame-second"></div>
        </div>
        <div class="bottom-see-more">
          <div class="text-container">
            <p>
              You want to see
              <span [ngStyle]="{ color: '#06b38f' }">more</span>?<br />Click on
              a button to your right
            </p>
          </div>
          <div class="button-container">
            <a><p>GITHUB</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
