@import "src/styles.scss";

@mixin photo-fr() {
  @include flex-display(center, center);
  @include width-height(13vh, 13vh);

  box-shadow: inset -10px 10px 32px #090e13, inset 10px -10px 32px #17222d;
}

@mixin photo-fr-nth-child($link) {
  background: linear-gradient(
      225deg,
      rgba(17, 26, 34, 0.1),
      rgba(14, 22, 29, 0.1)
    ),
    url($link);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project-section {
  @include flex-display();

  height: 100vh;
  background-color: $second-base-color;

  .project-container {
    @include flex-display(space-around);
    @include width-height(80%, 80%);

    background: #101820;
    box-shadow: inset -7px 7px 18px #060a0d, inset 7px -7px 18px #1a2633;

    .project-box {
      @include flex-display();
      @include width-height(45%, 80%);

      border-radius: 5%;
      background: linear-gradient(225deg, #111a22, #0e161d);
      box-shadow: -22px 22px 44px #0c1218, 22px -22px 44px #141e28;

      .project-box-container {
        @include flex-display(flex-start, flex-start, column);
        @include width-height(80%, 80%);

        .title {
          @include flex-display(flex-start, center);
          @include width-height(100%, 20%);

          h1 {
            font-size: 2rem;
            color: $titanium-white;
          }
        }

        .line {
          @include flex-display(flex-start, flex-startr);
          @include width-height(100%, 10%);

          .another-line {
            @include width-height(100%, 5%);

            background-color: $base-color;
          }
        }

        .middle-text {
          @include flex-display(flex-start, flex-start);
          @include width-height(100%, 25%);

          p {
            color: $titanium-white;
            font-size: 1rem;
          }
        }

        .project-photos {
          @include width-height(100%, 34%);
          justify-items: center;
          align-items: center;
          display: grid;
          grid-template-columns: repeat(4, 1fr);

          .photo-frame {
            @include photo-fr();
          }

          .photo-frame-second {
            @include photo-fr();
          }

          .photo-frame:nth-of-type(1) {
            @include photo-fr-nth-child("/assets/wedding_0.jpg");
          }

          .photo-frame:nth-of-type(2) {
            @include photo-fr-nth-child("/assets/wedding_1.jpg");
          }

          .photo-frame:nth-of-type(3) {
            @include photo-fr-nth-child("/assets/wedding_2.jpg");
          }

          .photo-frame:nth-of-type(4) {
            @include photo-fr-nth-child("/assets/wedding_3.jpg");
          }

          .photo-frame-second:nth-of-type(1) {
            @include photo-fr-nth-child("/assets/Freelance_0.jpg");
          }

          .photo-frame-second:nth-of-type(2) {
            @include photo-fr-nth-child("/assets/Freelance_1.jpg");
          }

          .photo-frame-second:nth-of-type(3) {
            @include photo-fr-nth-child("/assets/Freelance_2.jpg");
          }

          .photo-frame-second:nth-of-type(4) {
            @include photo-fr-nth-child("/assets/Freelance_3.jpg");
          }
        }

        .bottom-see-more {
          @include flex-display(flex-end, flex-end);
          @include width-height(100%, 11%);

          .text-container {
            width: 50%;

            p {
              color: $titanium-white;
              font-size: 1rem;
            }
          }

          .button-container {
            @include flex-display(flex-end, center, row);

            width: 50%;

            a {
              @include flex-display();
              @include width-height(120px, 60px);

              color: $titanium-white;
              font-size: 0.9rem;
              font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
                sans-serif;
              font-weight: bold;
              font-stretch: expanded;
              cursor: pointer;

              border-radius: 28px;
              background: linear-gradient(225deg, #111a22, #0e161d);
              box-shadow: -10px 10px 20px #0b1117, 10px -10px 20px #151f29;
            }
            a:hover {
              p {
                font-size: 0.8rem;
              }
              background: #101820;
              box-shadow: inset -10px 10px 17px #0d141b,
                inset 10px -10px 17px #131c25;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1281px) and (max-width: 1900px){
  .project-section {
    .project-container {
      .project-box {
        .project-box-container {
          .title {
            @include width-height(100%, 25%);
            h1 {
              font-size: 2.2rem;
            }
          }

          .middle-text {
            @include width-height(100%, 50%);

            p {
              font-size: 1.3rem;
            }
          }
          .project-photos {
            display: none;
          }

          .bottom-see-more {
            @include width-height(100%, 25%);

            .text-container {
              width: 60%;
              p {
                font-size: 0.9rem;
              }
            }
            .button-container {
              width: 40%;

              a {
                @include width-height(120px, 60px);
                font-size: 0.9rem;
                border-radius: 28px;
              }
              a:hover {
                p {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .project-section {
    .project-container {
      flex-direction: column;
      .project-box {
        @include width-height(90%, 45%);
        .project-box-container {
          .title {
            @include width-height(100%, 25%);
            h1 {
              font-size: 2rem;
            }
          }

          .middle-text {
            @include width-height(100%, 50%);

            p {
              font-size: 1.05rem;
            }
          }
          .project-photos {
            display: none;
          }

          .bottom-see-more {
            @include width-height(100%, 25%);

            .text-container {
              width: 60%;
              p {
                font-size: 0.9rem;
              }
            }
            .button-container {
              width: 40%;

              a {
                @include width-height(120px, 60px);
                font-size: 0.9rem;
                border-radius: 28px;
              }
              a:hover {
                p {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .project-section {
    .project-container {
      flex-direction: column;
      .project-box {
        @include width-height(90%, 45%);
        .project-box-container {
          .title {
            @include width-height(100%, 25%);
            h1 {
              font-size: 1.8rem;
            }
          }

          .middle-text {
            @include width-height(100%, 50%);

            p {
              font-size: 0.85rem;
            }
          }
          .project-photos {
            display: none;
          }

          .bottom-see-more {
            @include width-height(100%, 25%);

            .text-container {
              width: 60%;
              p {
                font-size: 0.75rem;
              }
            }
            .button-container {
              width: 40%;

              a {
                @include width-height(100px, 50px);
                font-size: 0.7rem;
                border-radius: 28px;
              }
              a:hover {
                p {
                  font-size: 0.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .project-section {
    .project-container {
      flex-direction: column;
      .project-box {
        @include width-height(90%, 45%);
        .project-box-container {
          .title {
            @include width-height(100%, 25%);
            h1 {
              font-size: 1.6rem;
            }
          }

          .middle-text {
            @include width-height(100%, 50%);

            p {
              font-size: 0.75rem;
            }
          }
          .project-photos {
            display: none;
          }

          .bottom-see-more {
            @include width-height(100%, 25%);

            .text-container {
              width: 60%;
              p {
                font-size: 0.75rem;
              }
            }
            .button-container {
              width: 40%;

              a {
                @include width-height(90px, 40px);
                font-size: 0.65rem;
                border-radius: 28px;
              }
              a:hover {
                p {
                  font-size: 0.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .project-section {
    .project-container {
      flex-direction: column;
      .project-box {
        @include width-height(90%, 45%);
        .project-box-container {
          .title {
            @include width-height(100%, 25%);
            h1 {
              font-size: 1.4rem;
            }
          }

          .middle-text {
            @include width-height(100%, 45%);

            p {
              font-size: 0.63rem;
            }
          }
          .project-photos {
            display: none;
          }

          .bottom-see-more {
            @include width-height(100%, 25%);

            .text-container {
              width: 60%;
              p {
                font-size: 0.6rem;
              }
            }
            .button-container {
              width: 40%;

              a {
                @include width-height(75px, 45px);
                font-size: 0.55rem;
                border-radius: 28px;
              }
              a:hover {
                p {
                  font-size: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
