<section class="project-section">
  <div class="project-container">

    <div class="project-box">
      <div class="project-box-container">
        <div class="title">
          <h1>Wedding store</h1>
        </div>
        <div class="line">
          <div class="another-line"></div>
        </div>
        <div class="middle-text">
          <p>
            Hi, I'm Pavlo Zinko and I'm 20 years old. I'm currently a third year
            student at the department of Artificial Intelligence of the Lviv
            Polytechnic National University. I' ve been working in Front-End
            developing since the end of 2019. I started with small university
            projects that were based on html5, css and javascript. At that time
            I realised that's the branch that I want to dive into.
          </p>
        </div>
        <div class="project-photos">
          <div class="photo-frame">
          </div>
          <div class="photo-frame">
          </div>
          <div class="photo-frame">
          </div>
          <div class="photo-frame">
          </div>
        </div>
        <div class="bottom-see-more">
          <div class="text-container">
            <p>
              You want to see
              <span [ngStyle]="{ color: '#06b38f' }">more</span>?<br />Click on
              a button to your right
            </p>
          </div>
          <div class="button-container">
            <a><p>MORE</p></a>
            <a><p>GITHUB</p></a>
          </div>
        </div>
      </div>
    </div>

    <div class="project-box">
      <div class="project-box-container">
        <div class="title">
          <h1>Wedding store</h1>
        </div>
        <div class="line">
          <div class="another-line"></div>
        </div>
        <div class="middle-text">
          <p>
            Hi, I'm Pavlo Zinko and I'm 20 years old. I'm currently a third year
            student at the department of Artificial Intelligence of the Lviv
            Polytechnic National University. I' ve been working in Front-End
            developing since the end of 2019. I started with small university
            projects that were based on html5, css and javascript. At that time
            I realised that's the branch that I want to dive into.
          </p>
        </div>
        <div class="project-photos">
          <div class="photo-frame">
          </div>
          <div class="photo-frame">
          </div>
          <div class="photo-frame">
          </div>
          <div class="photo-frame">
          </div>
        </div>
        <div class="bottom-see-more">
          <div class="text-container">
            <p>
              You want to see
              <span [ngStyle]="{ color: '#06b38f' }">more</span>?<br />Click on
              a button to your right
            </p>
          </div>
          <div class="button-container">
            <a><p>MORE</p></a>
            <a><p>GITHUB</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
